<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!--
    This is the xml configuration file for Hibernate.
    The annotation alternative is located @ com.evozon.config.HibernateConfig
-->
<hibernate-configuration>
    <session-factory>

    </session-factory>
</hibernate-configuration>